.displaygame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 600px;
    margin: 10px;
    background-color: brown;
}